body{
	background-color: darkcyan;
}
.Earth{
	color: blue;
}
.Moon{
	color: red;
}
.Earth-style{
	background-color: blue;
	width: 256px;
	height: 20px;
}
.Moon-style{
	background-color: red;
	width: 70px;
	height: 20px;
}